@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import "tailwindcss";


@theme {
    --color-soft-gray: #F2F2F2;
    --color-charcoal-gray: #27251F;
    --color-warm-white: #FFF5E1;
    --color-golden-yellow: #FFC72C;
    --color-mcdo-red: #DA291C;
    
    --font-poppins: 'Poppins', sans-serif;
}

@layer components {
.category-btn {
  @apply border-2 border-golden-yellow rounded-full px-5 py-2 font-semibold text-sm 
  hover:bg-mcdo-red hover:text-white hover:border-none
  whitespace-nowrap flex-shrink-0;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.item-card {
  @apply flex flex-col min-h-[320px] bg-white rounded-xl p-4 shadow-sm border border-golden-yellow 
         hover:shadow-lg hover:-translate-y-1 hover:scale-[1.02] 
         transition-all duration-200 ease-in-out;
}

.item-card img {
  @apply w-full h-40 object-cover rounded-lg mb-3;
}

.item-card h3 {
  @apply font-semibold text-charcoal-gray text-lg text-left mb-auto;
}

.item-card p {
  @apply text-mcdo-red font-bold text-xl mt-1;
}

.price-container {
  @apply flex justify-between items-center py-2 mt-auto;
}

.add-btn {
    @apply bg-mcdo-red w-10 h-8 rounded-sm cursor-pointer ;
}

.order-item {
  @apply flex justify-between items-center py-4 border-b border-gray-200;
}
}

